#gridContainer {
position: absolute;
border-width: 1px;
border-style: dashed;
border-color: black;
bottom: 0;
}
#gameContainer {
position: fixed;
width: 500px;
height: 545px;
margin: auto;
left: 0;
right: 0;
border-color: black;
border-style: solid;
border-width: 1px;
}
#gameHud{
  width: 700px;
  height: 45px;
  position: absolute;
  left: -100px;
}

#gameBackground {
background-color: #cecece;
position: absolute;
width: 500px;
height: 500px;
top: 0;
left: 0;
right: 0;
z-index: -1;
}

#target {
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
  display: grid;
}