#gridContainer {
position: absolute;
bottom: 0;
z-index: -1;
}
#gameContainer {
position: fixed;
width: 500px;
height: 545px;
margin: auto;
left: 0;
right: 0;
}
#gameHud {
  width: 500px;
  height: 45px;
  position: absolute;
  top: 0px;
}

#gameBackground {
background-color: #cecece;
position: absolute;
width: 500px;
height: 500px;
bottom: 0px;
z-index: 0;
}

#target {
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
  display: grid;
  z-index: 1;
}