.P09{ grid-area: P09; }
.P19{ grid-area: P19; }
.P29{ grid-area: P29; }
.P39{ grid-area: P39; }
.P49{ grid-area: P49; }
.P59{ grid-area: P59; }
.P69{ grid-area: P69; }
.P79{ grid-area: P79; }
.P89{ grid-area: P89; }
.P99{ grid-area: P99; }
.P08{ grid-area: P08; }
.P18{ grid-area: P18; }
.P28{ grid-area: P28; }
.P38{ grid-area: P38; }
.P48{ grid-area: P48; }
.P58{ grid-area: P58; }
.P68{ grid-area: P68; }
.P78{ grid-area: P78; }
.P88{ grid-area: P88; }
.P98{ grid-area: P98; }
.P07{ grid-area: P07; }
.P17{ grid-area: P17; }
.P27{ grid-area: P27; }
.P37{ grid-area: P37; }
.P47{ grid-area: P47; }
.P57{ grid-area: P57; }
.P67{ grid-area: P67; }
.P77{ grid-area: P77; }
.P87{ grid-area: P87; }
.P97{ grid-area: P97; }
.P06{ grid-area: P06; }
.P16{ grid-area: P16; }
.P26{ grid-area: P26; }
.P36{ grid-area: P36; }
.P46{ grid-area: P46; }
.P56{ grid-area: P56; }
.P66{ grid-area: P66; }
.P76{ grid-area: P76; }
.P86{ grid-area: P86; }
.P96{ grid-area: P96; }
.P05{ grid-area: P05; }
.P15{ grid-area: P15; }
.P25{ grid-area: P25; }
.P35{ grid-area: P35; }
.P45{ grid-area: P45; }
.P55{ grid-area: P55; }
.P65{ grid-area: P65; }
.P75{ grid-area: P75; }
.P85{ grid-area: P85; }
.P95{ grid-area: P95; }
.P04{ grid-area: P04; }
.P14{ grid-area: P14; }
.P24{ grid-area: P24; }
.P34{ grid-area: P34; }
.P44{ grid-area: P44; }
.P54{ grid-area: P54; }
.P64{ grid-area: P64; }
.P74{ grid-area: P74; }
.P84{ grid-area: P84; }
.P94{ grid-area: P94; }
.P03{ grid-area: P03; }
.P13{ grid-area: P13; }
.P23{ grid-area: P23; }
.P33{ grid-area: P33; }
.P43{ grid-area: P43; }
.P53{ grid-area: P53; }
.P63{ grid-area: P63; }
.P73{ grid-area: P73; }
.P83{ grid-area: P83; }
.P93{ grid-area: P93; }
.P02{ grid-area: P02; }
.P12{ grid-area: P12; }
.P22{ grid-area: P22; }
.P32{ grid-area: P32; }
.P42{ grid-area: P42; }
.P52{ grid-area: P52; }
.P62{ grid-area: P62; }
.P72{ grid-area: P72; }
.P82{ grid-area: P82; }
.P92{ grid-area: P92; }
.P01{ grid-area: P01; }
.P11{ grid-area: P11; }
.P21{ grid-area: P21; }
.P31{ grid-area: P31; }
.P41{ grid-area: P41; }
.P51{ grid-area: P51; }
.P61{ grid-area: P61; }
.P71{ grid-area: P71; }
.P81{ grid-area: P81; }
.P91{ grid-area: P91; }
.P00{ grid-area: P00; }
.P10{ grid-area: P10; }
.P20{ grid-area: P20; }
.P30{ grid-area: P30; }
.P40{ grid-area: P40; }
.P50{ grid-area: P50; }
.P60{ grid-area: P60; }
.P70{ grid-area: P70; }
.P80{ grid-area: P80; }
.P90{ grid-area: P90; }

.container {
  display: grid;
  border-width: 1px;
  border-style: dashed;
  border-color: black;
  position: fixed;
  width: 500px;
  height: 500px;
  top: 50px;
  left:50px;
  right:50px;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-areas:
  "P09 P19 P29 P39 P49 P59 P69 P79 P89 P99"
  "P08 P18 P28 P38 P48 P58 P68 P78 P88 P98"
  "P07 P17 P27 P37 P47 P57 P67 P77 P87 P97"
  "P06 P16 P26 P36 P46 P56 P66 P76 P86 P96"
  "P05 P15 P25 P35 P45 P55 P65 P75 P85 P95"
  "P04 P14 P24 P34 P44 P54 P64 P74 P84 P94"
  "P03 P13 P23 P33 P43 P53 P63 P73 P83 P93"
  "P02 P12 P22 P32 P42 P52 P62 P72 P82 P92"
  "P01 P11 P21 P31 P41 P51 P61 P71 P81 P91"
  "P00 P10 P20 P30 P40 P50 P60 P70 P80 P90";
}